<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>festivalServlet</servlet-name>
    <servlet-class>servlet.festivalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>custom</servlet-name>
    <servlet-class>servlet.admin.custom</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>servlet.addServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>customServlet</servlet-name>
    <servlet-class>servlet.customServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>servlet.deleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>webCustomServlet</servlet-name>
    <servlet-class>servlet.webCustomServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>webViewServlet</servlet-name>
    <servlet-class>servlet.webViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>webApplyServlet</servlet-name>
    <servlet-class>servlet.webApplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>webRegisterServlet</servlet-name>
    <servlet-class>servlet.webRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>webLoginServlet</servlet-name>
    <servlet-class>servlet.webLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>beforeAddServlet</servlet-name>
    <servlet-class>servlet.beforeAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>webSearchServlet</servlet-name>
    <servlet-class>servlet.webSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>webApplySaveServlet</servlet-name>
    <servlet-class>servlet.webApplySaveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>userManageServlet</servlet-name>
    <servlet-class>servlet.userManageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>editServlet</servlet-name>
    <servlet-class>servlet.editServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>editUpdateServlet</servlet-name>
    <servlet-class>servlet.editUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>approveServlet</servlet-name>
    <servlet-class>servlet.approveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>approveUpdateServlet</servlet-name>
    <servlet-class>servlet.approveUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>webMessageServlet</servlet-name>
    <servlet-class>servlet.webMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>toLoginServlet</servlet-name>
    <servlet-class>servlet.toLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>toApproveServlet</servlet-name>
    <servlet-class>servlet.toApproveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>adminLogoutServlet</servlet-name>
    <servlet-class>servlet.adminLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>resetPassServlet</servlet-name>
    <servlet-class>servlet.resetPassServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>servlet.testServlet</servlet-class>
  </servlet>


























  <servlet-mapping>
    <servlet-name>festivalServlet</servlet-name>
    <url-pattern>/festivalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>custom</servlet-name>
    <url-pattern>/custom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>customServlet</servlet-name>
    <url-pattern>/customServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>webCustomServlet</servlet-name>
    <url-pattern>/webCustomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>webViewServlet</servlet-name>
    <url-pattern>/webViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>webApplyServlet</servlet-name>
    <url-pattern>/webApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>webRegisterServlet</servlet-name>
    <url-pattern>/webRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>webLoginServlet</servlet-name>
    <url-pattern>/webLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>beforeAddServlet</servlet-name>
    <url-pattern>/beforeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>webSearchServlet</servlet-name>
    <url-pattern>/webSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>webApplySaveServlet</servlet-name>
    <url-pattern>/webApplySaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userManageServlet</servlet-name>
    <url-pattern>/userManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editServlet</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editUpdateServlet</servlet-name>
    <url-pattern>/editUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>approveServlet</servlet-name>
    <url-pattern>/approveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>approveUpdateServlet</servlet-name>
    <url-pattern>/approveUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>webMessageServlet</servlet-name>
    <url-pattern>/webMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toLoginServlet</servlet-name>
    <url-pattern>/toLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toApproveServlet</servlet-name>
    <url-pattern>/toApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminLogoutServlet</servlet-name>
    <url-pattern>/adminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resetPassServlet</servlet-name>
    <url-pattern>/resetPassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  
  <filter>
  	<filter-name>AuthorityFilter</filter-name>
  	<filter-class>filter.AuthorityFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
  	<url-pattern>/toApproveServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/addServlet</url-pattern>	
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/approveServlet</url-pattern>	
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/approveUpdateServlet</url-pattern>	
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/beforeAddServlet</url-pattern>	
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/customServlet</url-pattern>	
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/deleteServlet</url-pattern>	
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/editServlet</url-pattern>	
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/editUpdateServlet</url-pattern>	
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/userManageServlet</url-pattern>	
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/resetPassServlet</url-pattern>	
  </filter-mapping>
  
</web-app>
 
   

